{% extends 'theblog/base.html' %}

{% block title %}
Delete Blog Post!!
{% endblock %}

{% block content %}


{% if user.is_authenticated %}
    <h1>Delete Post</h1>
    <br/>
    <br/>
    <h3>Are you sure you want to delete "<u>{{ object.title }}</u>"?</h3>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Delete Post</button>
    </div>
{% else %}

    <h1>You are not logged in</h1>

{% endif %}





{% endblock %}